@model Wkhtmltopdf.Models.TestData

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <h1>@Model.Text</h1>
    </header>
    <div>
        <h2>@Model.Number</h2>
    </div>
</body>
</html>
